<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> X gone give it to ya!!!</h1>
    {{{body}}}
  </body>
</html>
